@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTS55F.ttf");
}
h1{
	font-size: 23px;
}
h2{
	font-size: 18px;
}
p{
	font-size: 12px;
}
body{
    background-color: #FBFBEF; 
    font-family: "PT Sans";
	
}
#header{
    margin: 30px;
    height: 50px;
    border-radius: 10px;
	min-width: 560px;
}
#leftHeader{
    margin-top: 10px;
    float: left;
}
#rightHeader{
    float: right;
}
.img-header{
    height: 30px;
    margin-left: 20px;
    cursor: pointer;
}
.img-banner{
    height: 50px;
}
.text-header{
    height: 35px;
    vertical-align: middle;
    margin-left: 10px;
    display: inline-block;
}
.img-buscar{
	height: 20px;
	display:inline-block;
	cursor:pointer
}
#mainDiv{
    background-color: #FBFBEF;
    width: 1000px;    
    display: block;
    height: 500px;
	overflow: auto;
}
nav{   
    float: left;
    width: 170px;
    margin-top: 15px;
    margin-right: 15px;
    height: 400px;
}
#all-content{
    float: right;    
    width: 800px;
    margin-left: 15px;
    margin-top: 15px;
    height: 400px;
	overflow: auto;
}
.img-icon{
	float:left;
	height:25px;
	width:25px;
	margin-left: 5px;
    margin-top: 5px;
}
.button{
    border-color: Gray;
    border-width: 1px;
    border-style: solid;
	border-radius:10px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
	text-align: center;

}
.selected-button{
    border-color: Gray;
    border-width: 1px;
    border-style: solid;
	border-radius:10px;
    margin: 10px;
    padding: 10px; 
    cursor: pointer;
	text-align: center;
}
.form-button{
    width: auto;
    border-color: Gray;
    border-width: 1px;
    border-style: solid;
    color: White;
    margin: 10px;
    padding: 10px; 
    cursor: pointer;
    display: inline-block;
}
footer{
    display: block;
    text-align: center;
    color: Gray;
    width: 100%;  
}
.option{
    display: inline;   
    margin: 3px;
}
.box{
    display: block;
    padding-top: 10px;
}

input[type="text"],select{
    padding: 5px;
    margin: 5px;   
}
.button:hover{
    background-color: #DBC3FD; 
    cursor: pointer;
}

table
{
	display: block;
}

tbody
{
	display: block;
}

#table-content{
	width: 650px; 
	margin-left: 10px;
    margin-top: 60px;  
	
}	
.tr-header{
	padding: 3px;
	background-color:#FBFBEF;
	border-color: Gray;
    border-width: 1px;
    border-style: solid;
}
.tr-cont{
	padding: 3px;
	background-color:#FBFBEF;
}
.opc{
	padding: 3px;
}
.evento{
	height: 20px;
	display:inline-block;
	cursor:pointer;
}
td{
	height: 30px;
	width:auto;
	padding: 3px;
}

/*Subnivel en el menú*/
ul.sub-level {
    display: none;  
}
.button:hover .sub-level {

    display: block;
}

.selected-button:hover .sub-level {

    display: block;
}

.sub-level li
{
    opacity:0.5;
    background-color: #83FAB1;
    border-radius:5px;
    margin-bottom: 10px
}
